.card {
    width: 350px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-weight: 600;
    margin: 15px;
}

.card_img_container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_img {
    width: 220px;
}

.card_info {
    padding: 15px 22px 32px 22px;
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
}

.card_info_row {
    display: flex;
    justify-content: space-between;
}

.card_rate_row {
    display: flex;
    align-items: center;
}

.card_rate {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    padding-left: 10px;
    color: #838383;
}

.card_name {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #1C1C27;
}

.card_price {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #FFA542;
}

.card_price_before_discount {
    margin: 0 0 16px auto;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #FFCE7F;
}

.card_action {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    background-color: white;
    border: 0;
}

.card_action:hover {
    color: #838383;
}
