.header {
    width: 1110px;
    height: 60px;
    justify-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_link {
    text-decoration: none;
}

.title {
    color: #101010;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.icons_container {
    display: flex;
    gap: 30px;
}

.icon_wrapper {
    position: relative;
    width: 30px;
    height: 30px;
}

.counter {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    background-color: #FFA542;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: white;
    border-radius: 50%;
}

@media (max-width:1140px) {
    .header {
        width: 730px;
    }
}